# Libraries

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

# Data Preparation

In [2]:
books = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding='latin-1')
ratings = pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding='latin-1')
users = pd.read_csv('BX-Users.csv', sep=';', error_bad_lines=False, encoding='latin-1')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

Merge books and book-ratings dataframe

In [6]:
book_ratings = pd.merge(books, ratings, on='ISBN')
book_ratings.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0

Drop unused columns

In [7]:
cols = ['Year-Of-Publication', 'Publisher', 'Book-Author', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L']
book_ratings.drop(cols, axis=1, inplace=True)
book_ratings.head()

         ISBN           Book-Title  User-ID  Book-Rating
0  0195153448  Classical Mythology        2            0
1  0002005018         Clara Callan        8            5
2  0002005018         Clara Callan    11400            0
3  0002005018         Clara Callan    11676            8
4  0002005018         Clara Callan    41385            0

In [8]:
rating_count = (book_ratings.
                groupby(by=['Book-Title'])['Book-Rating'].
                count().
                reset_index().
                rename(columns = {'Book-Rating':'RatingCount_Book'})
                [['Book-Title','RatingCount_Book']])
rating_count.head()

                                          Book-Title  RatingCount_Book
0   A Light in the Storm: The Civil War Diary of ...                 4
1                              Always Have Popsicles                 1
2               Apple Magic (The Collector's series)                 1
3   Ask Lily (Young Women of Faith: Lily Series, ...                 1
4   Beyond IBM: Leadership Marketing and Finance ...                 1

In [9]:
threshold = 25
rating_count = rating_count.query('RatingCount_Book >= @threshold')
rating_count.head()

                          Book-Title  RatingCount_Book
75                      'Salem's Lot                47
203                   10 Lb. Penalty                61
422                   101 Dalmatians                37
673  14,000 Things to Be Happy About                28
697               16 Lighthouse Road                65

In [10]:
book_ratings.head()

         ISBN           Book-Title  User-ID  Book-Rating
0  0195153448  Classical Mythology        2            0
1  0002005018         Clara Callan        8            5
2  0002005018         Clara Callan    11400            0
3  0002005018         Clara Callan    11676            8
4  0002005018         Clara Callan    41385            0

In [11]:
user_ratings = pd.merge(rating_count, book_ratings, left_on='Book-Title', right_on='Book-Title', how='left')
user_ratings.head()

     Book-Title  RatingCount_Book        ISBN  User-ID  Book-Rating
0  'Salem's Lot                47  0451168089     9226            0
1  'Salem's Lot                47  0451168089    33283           10
2  'Salem's Lot                47  0451168089    37950            0
3  'Salem's Lot                47  0451168089    55734            0
4  'Salem's Lot                47  0451168089    56044            8

In [12]:
user_count = (user_ratings.
              groupby(by = ['User-ID'])['Book-Rating'].
              count().
              reset_index().
              rename(columns = {'Book-Rating':'RatingCount_User'})
              [['User-ID','RatingCount_User']]
              )
user_count.head()

   User-ID  RatingCount_User
0        8                 2
1        9                 2
2       10                 1
3       14                 1
4       16                 2

In [13]:
threshold = 20
user_count = user_count.query('RatingCount_User >= @threshold')
user_count.head()

     User-ID  RatingCount_User
52       243                68
54       254               139
89       487                21
96       507                61
115      638                51

In [14]:
combined = user_ratings.merge(user_count, left_on='User-ID', right_on='User-ID', how='inner')
combined.head()

,Book-Title,RatingCount_Book,ISBN,User-ID,Book-Rating,RatingCount_User
0,'Salem's Lot,47,0451168089,33283,10,20
1,All That Glitters (Landry),55,0671873199,33283,10,20
2,Dark Rivers of the Heart,130,034539657X,33283,0,20
3,Downsize This! Random Threats from an Unarmed ...,38,0060977337,33283,0,20
4,Dragon Tears,127,0425140032,33283,9,20

In [15]:
combined.shape

(263467, 6)

In [16]:
print('Number of unique books: ', combined['Book-Title'].nunique())
print('Number of unique books: ', combined['User-ID'].nunique())

Number of unique books:  5850
Number of unique books:  3192

# Data Preprocessing

Normalized

In [17]:
scaler = MinMaxScaler()
combined['Book-rating'] = combined['Book-Rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(combined['Book-Rating'].values.reshape(-1,1)))
combined['Book-rating'] = rating_scaled

Build matrix user and book

In [18]:
combined = combined.drop_duplicates(['User-ID','Book-Title'])
user_book_matrix = combined.pivot(index='User-ID', columns='Book-Title', values='Book-Rating')
user_book_matrix.fillna(0, inplace=True)

users = user_book_matrix.index.tolist()
books = user_book_matrix.columns.tolist()

user_book_matrix = user_book_matrix.to_numpy()

# Model Selection

tf.placeholder only available in v1, so we have to work around.

In [19]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow/python/compat/v2_compat.py:107: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

We will initialize the TensorFlow placeholder. Then, weights and biases are randomly initialized, the following code are taken from the book: Python Machine Learning Cook Book - Second Edition

In [20]:
num_input = combined['Book-Title'].nunique()
num_hidden_1 = 10
num_hidden_2 = 5

X = tf.placeholder(tf.float64, [None, num_input])

weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

Build encoder and decoder model

In [21]:
def encoder(x):
  layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
  layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
  return layer_2

def decoder(x):
  layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
  layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
  return layer_2

onstruct model and prediction

In [22]:
encoder_op = encoder(X)
decoder_op = decoder(encoder_op)

y_pred = decoder_op
y_true = X

define loss function and optimizer, and minimize the squared error, and define the evaluation metrics

In [23]:
loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.RMSPropOptimizer(0.03).minimize(loss)
eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow/python/training/rmsprop.py:188: calling Ones.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

Initialize the variables. Because TensorFlow uses computational graphs for its operations, placeholders and variables must be initialized.

In [24]:
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()
pred_data = pd.DataFrame()

# Model Training

We can finally start to train our model.

We split training data into batches, and we feed the network with them.

We train our model with vectors of user ratings, each vector represents a user and each column a book, and entries are ratings that the user gave to books.

After a few trials, I discovered that training model for 5 epochs with a batch size of 10 would be consum enough memory. This means that the entire training set will feed our neural network 20 times, every time using 50 users.

In [25]:
with tf.Session() as session:
  epochs = 100
  batch_size = 35

  session.run(init)
  session.run(local_init)

  num_batches = int(user_book_matrix.shape[0] / batch_size)
  user_book_matrix = np.array_split(user_book_matrix, num_batches)

  for i in range(epochs):

    avg_cost = 0
    for batch in user_book_matrix:
      _, l = session.run([optimizer, loss], feed_dict={X: batch})
      avg_cost += 1
    
    avg_cost /= num_batches
    print('epoch: {} loss: {}'.format(i + 1, avg_cost))

  user_book_matrix = np.concatenate(user_book_matrix, axis=0)

  preds = session.run(decoder_op, feed_dict={X: user_book_matrix})

  pred_data = pred_data.append(pd.DataFrame(preds))

  pred_data = pred_data.stack().reset_index(name='Book-Rating')
  pred_data.columns = ['User-ID', 'Book-Title', 'Book-Rating']
  pred_data['User-ID'] = pred_data['User-ID'].map(lambda value: users[value])
  pred_data['Book-Title'] = pred_data['Book-Title'].map(lambda value: books[value])

  keys = ['User-ID', 'Book-Title']
  index_1 = pred_data.set_index(keys).index
  index_2 = combined.set_index(keys).index

  top_ten_ranked = pred_data[~index_1.isin(index_2)]
  top_ten_ranked = top_ten_ranked.sort_values(['User-ID', 'Book-Rating'], ascending=[True, False])
  top_ten_ranked = top_ten_ranked.groupby('User-ID').head(10)

epoch: 1 loss: 1.0
epoch: 2 loss: 1.0
epoch: 3 loss: 1.0
epoch: 4 loss: 1.0
epoch: 5 loss: 1.0
epoch: 6 loss: 1.0
epoch: 7 loss: 1.0
epoch: 8 loss: 1.0
epoch: 9 loss: 1.0
epoch: 10 loss: 1.0
epoch: 11 loss: 1.0
epoch: 12 loss: 1.0
epoch: 13 loss: 1.0
epoch: 14 loss: 1.0
epoch: 15 loss: 1.0
epoch: 16 loss: 1.0
epoch: 17 loss: 1.0
epoch: 18 loss: 1.0
epoch: 19 loss: 1.0
epoch: 20 loss: 1.0
epoch: 21 loss: 1.0
epoch: 22 loss: 1.0
epoch: 23 loss: 1.0
epoch: 24 loss: 1.0
epoch: 25 loss: 1.0
epoch: 26 loss: 1.0
epoch: 27 loss: 1.0
epoch: 28 loss: 1.0
epoch: 29 loss: 1.0
epoch: 30 loss: 1.0
epoch: 31 loss: 1.0
epoch: 32 loss: 1.0
epoch: 33 loss: 1.0
epoch: 34 loss: 1.0
epoch: 35 loss: 1.0
epoch: 36 loss: 1.0
epoch: 37 loss: 1.0
epoch: 38 loss: 1.0
epoch: 39 loss: 1.0
epoch: 40 loss: 1.0
epoch: 41 loss: 1.0
epoch: 42 loss: 1.0
epoch: 43 loss: 1.0
epoch: 44 loss: 1.0
epoch: 45 loss: 1.0
epoch: 46 loss: 1.0
epoch: 47 loss: 1.0
epoch: 48 loss: 1.0
epoch: 49 loss: 1.0
epoch: 50 loss: 1.0
epoch: 51 loss: 1.0
epoch: 52 loss: 1.0
epoch: 53 loss: 1.0
epoch: 54 loss: 1.0
epoch: 55 loss: 1.0
epoch: 56 loss: 1.0
epoch: 57 loss: 1.0
epoch: 58 loss: 1.0
epoch: 59 loss: 1.0
epoch: 60 loss: 1.0
epoch: 61 loss: 1.0
epoch: 62 loss: 1.0
epoch: 63 loss: 1.0
epoch: 64 loss: 1.0
epoch: 65 loss: 1.0
epoch: 66 loss: 1.0
epoch: 67 loss: 1.0
epoch: 68 loss: 1.0
epoch: 69 loss: 1.0
epoch: 70 loss: 1.0
epoch: 71 loss: 1.0
epoch: 72 loss: 1.0
epoch: 73 loss: 1.0
epoch: 74 loss: 1.0
epoch: 75 loss: 1.0
epoch: 76 loss: 1.0
epoch: 77 loss: 1.0
epoch: 78 loss: 1.0
epoch: 79 loss: 1.0
epoch: 80 loss: 1.0
epoch: 81 loss: 1.0
epoch: 82 loss: 1.0
epoch: 83 loss: 1.0
epoch: 84 loss: 1.0
epoch: 85 loss: 1.0
epoch: 86 loss: 1.0
epoch: 87 loss: 1.0
epoch: 88 loss: 1.0
epoch: 89 loss: 1.0
epoch: 90 loss: 1.0
epoch: 91 loss: 1.0
epoch: 92 loss: 1.0
epoch: 93 loss: 1.0
epoch: 94 loss: 1.0
epoch: 95 loss: 1.0
epoch: 96 loss: 1.0
epoch: 97 loss: 1.0
epoch: 98 loss: 1.0
epoch: 99 loss: 1.0
epoch: 100 loss: 1.0

# Recommender System

In [26]:
top_ten_ranked.loc[top_ten_ranked['User-ID'] == 278582]

,User-ID,Book-Title,Book-Rating
18657783,278582,Interview with the Vampire,0.682855
18658056,278582,Life of Pi,0.544692
18659952,278582,The Da Vinci Code,0.520867
18656352,278582,Bridget Jones's Diary,0.479051
18659276,278582,She's Come Undone (Oprah's Book Club),0.451452
18660675,278582,The Runaway Jury,0.380322
18657305,278582,Fried Green Tomatoes at the Whistle Stop Cafe,0.345981
18660882,278582,"The Vampire Lestat (Vampire Chronicles, Book II)",0.344865
18659275,278582,She's Come Undone (Oprah's Book Club (Paperback)),0.330315
18655656,278582,1st to Die: A Novel,0.315314

In [27]:
book_ratings.loc[book_ratings['User-ID'] == 278582].sort_values(by=['Book-Rating'], ascending=False)

,ISBN,Book-Title,User-ID,Book-Rating
64472,0451202503,The Songcatcher: A Ballad Novel,278582,10
225932,0441478123,The Left Hand of Darkness (Remembering Tomorrow),278582,10
94864,0345350499,The Mists of Avalon,278582,10
988189,157566254X,"Skin Deep, Blood Red",278582,10
67571,1400034779,The No. 1 Ladies' Detective Agency (Today Show...,278582,10
845169,0226848620,Chinese Bell Murders (Judge Dee Mysteries),278582,10
726327,0061044725,Search the Shadows,278582,10
389850,0449223558,Murdering Mr. Monti: A Merry Little Tale of Se...,278582,9
676798,0140277471,Blanche Cleans Up,278582,9
690946,0345440064,Death of a Stranger,278582,8
643688,0804109818,The Jewel That Was Ours,278582,8
489420,0671877445,"Cetaganda (Bujold, Lois Mcmaster. Vorkosigan A...",278582,8
489267,0449206874,One Fine Day the Rabbi Bought a Cross,278582,8
879020,1890208442,Daddy's Gone A-Hunting (Wesley Farrell Novels),278582,8
1007940,055327239X,Service of All the Dead,278582,8
369914,0141001976,Blanche Passes Go,278582,8
280018,0515136557,The Cat Who Brought Down the House,278582,8
244262,0425191583,Imitation in Death (Eve Dallas Mysteries (Pape...,278582,8
463650,0449217213,Incident at Badamya,278582,8
210542,0449221512,I Is for Innocent,278582,8
125309,0449003183,Brunswick Gardens (Charlotte &amp; Thomas Pitt...,278582,8
191757,0671001795,Two for the Dough,278582,8
123205,0345348176,From Doon With Death,278582,8
217639,0312983867,Hard Eight : A Stephanie Plum Novel (A Stephan...,278582,7
329890,0425190927,The Wife Test,278582,7
653584,0312957785,The Venus Throw,278582,7
236372,0312980140,Seven Up (A Stephanie Plum Novel),278582,7
529352,0743406583,Maggody and the Moonbeams,278582,7
468650,0425163717,Holiday in Death,278582,7
163481,0743480562,"CSI, Miami: Heat Wave",278582,6
721763,0765344513,Over the Wine-Dark Sea (Hellenistic Seafaring ...,278582,6
251631,0312991460,To the Nines (A Stephanie Plum Novel),278582,6
728859,0425193772,Indigo Dying,278582,5
80684,0312990456,One for the Money (A Stephanie Plum Novel),278582,5
158706,0312983298,Full Speed (Janet Evanovich's Full Series),278582,3
988170,0061063746,Hang Loose,278582,2
947493,0312851561,The Sword of Samurai Cat (Tor Fantasy),278582,0
95080,0312976275,Hot Six : A Stephanie Plum Novel (A Stephanie ...,278582,0
895207,1555971792,The Body in Four Parts,278582,0
102077,0425175405,Black Notice,278582,0
862600,0060534389,A Share in Death,278582,0
1007938,0060534397,All Shall Be Well,278582,0
1007939,0312168586,Great Harry,278582,0
833554,0312985649,A Grave Denied (A Kate Shugak Novel),278582,0
981006,0743497988,Law and Order Deadline : An Original Law and O...,278582,0
616643,0553574027,Antarctica,278582,0
124130,0312966970,Four To Score (A Stephanie Plum Novel),278582,0
125357,0312971346,High Five (A Stephanie Plum Novel),278582,0
148165,0380817152,The Golden One : A Novel of Suspense,278582,0
554946,0140250360,Blanche Among the Talented Tenth,278582,0
553062,0451208498,Thieves' Paradise,278582,0
533410,0312986327,Out on a Limb (A Claire Malloy Mystery),278582,0
493711,0061032484,Children of the Storm,278582,0
162439,048627263X,Flatland: A Romance of Many Dimensions (Dover ...,278582,0
448131,0451205146,Black Hawk Down (Movie Tie-in),278582,0
177666,0060549270,A Greek God at the Ladies' Club (Avon Romance),278582,0
383476,0743448677,Without Pity : Ann Rule's Most Dangerous Killers,278582,0
374903,0553581112,Justice Hall: A Mary Russell Novel (Mary Russe...,278582,0
191256,0312966091,Three To Get Deadly : A Stephanie Plum Novel (...,278582,0
1007942,076534503X,The Gryphon's Skull (Hellenistic Seafaring Adv...,278582,0